@model CentricConsulting.Models.Recognition

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Recognition</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Giver.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Giver.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.userDetails.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userDetails.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurentDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurentDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecognitionComments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecognitionComments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.award)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.award)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
