@model IEnumerable<CentricConsulting.Models.Recognition>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Giver.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.userDetails.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurentDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecognitionComments)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.award)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Giver.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.userDetails.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CurentDateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RecognitionComments)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.award)
        </td>
        <td>
           @Html.ActionLink("Show Individual Recognitions", "Awards", new { id = item.ID, emp = item.userDetails.fullName })

        @*@Html.ActionLink("Edit", "Edit", new { id = item.EmployeeRecognitionID }) |
            @Html.ActionLink("Details", "Details", new { id=item.EmployeeRecognitionID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.EmployeeRecognitionID }) |*@


        </td>
    </tr>
}

</table>
