@model IEnumerable<CentricConsulting.Models.Recognition>

@{
    ViewBag.Title = "Recognitions";
}

<h2>Recognition Feed</h2>

<p>
    @Html.ActionLink("Create New Recognition", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Person Giving Recognition
        </th>
        <th>
            Person Getting Recognized
        </th>
        <th>
            Recognition Date
        </th>
        <th>
           Comments
        </th>
        <th>
            Award
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Giver.fullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.userDetails.fullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CurentDateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RecognitionComments)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.award)
        </td>
        <td>  
            @Html.ActionLink("Show Individual Recognitions", "Awards", new { id = item.ID, emp = item.Giver.fullName })
            
            @*@Html.ActionLink("Edit", "Edit", new { id = item.EmployeeRecognitionID }) |
            @Html.ActionLink("Details", "Details", new { id=item.EmployeeRecognitionID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.EmployeeRecognitionID }) |*@
        </td>
    </tr>
}

</table>
